


/* GLOBAL CSS DEFINITIONS */
p  {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #7C8187;
}

blockquote {
  background-color: #F5F5F5;
  border-left: 1px solid #E46643;
  padding: 24px;
}
blockquote p {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

h1 {
  color: #35393F;
  font-size: 32px;
  font-weight: 700;
  line-height: 42.2px;
}

h2 {
  color: #35393F;
  font-size: 28px;
  font-weight: 400;
  line-height: 36.93px;
}

h3 {
  color: #35393F;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.65px;
}

h4 {
  color: #35393F;
  font-size: 20px;
  font-weight: 700;
  line-height: 26.38px;
}

h5 {
  color: #35393F;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.1px;
}

h6 {
  color: #E46643;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.46px;

}

ul,ol {
  padding-inline: 24px;
}

li::marker {
  color: #E46643;
}
li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #7C8187;
}

ol li::marker {
  color: #7C8187;
 }

/* global end */


header {
  display: flex;
  align-items: center;
  background-color: #2B2D31;
  justify-content: space-between;
}

.hamburger-area {
  display: flex;
}

.hamburger-icon {
  background: #35393F;
  padding-block: 21px;
  padding-inline: 17px;
  margin-right: 24px;
  cursor: pointer;
}

header input {
  background: url('../assets/img/file.svg') no-repeat center left 0% ;
  border: none;
  outline: none;
  padding-left: 32px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  color: #fff;
}

.button-area {
  display: flex;
  align-items: center;
  gap: 24px;
}

.save-icon {
  background-color: #E46643;
  padding: 12px;
  margin-right: 8px;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

 .hamburger-checkbox {
  position: absolute;
  z-index: 2;
  left: 18px;
  top: 21px;
  height: 17px;
  width: 21px;
  /* display: none; */
  cursor: pointer;

}

header .nav-mobile {
  display: none;
}

header .hamburger-checkbox:checked ~ .nav-mobile {
  display: block;
  animation: slide 0.3s ease-in;
}

.nav-mobile {
  height: 100%;
  width: 70%;
  position: fixed;
  top: 0;
  left: 0;
  background: #1D1F22;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-inline: 24px;
  max-width: 250px;
  
  button {
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    color: #FFFFFF; 
    background: #E46643;
    border-radius: 4px;
    padding: 10px 44px 12px 42px;
    border: none;
    cursor: pointer;
    margin-top: 29px;
  }
  h3 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.35px;
    letter-spacing: 5px;
  }

  h6 {
    color: #7C8187;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 2px;
    margin-top: 27px;
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}



.margin {
  overflow: hidden;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 120px;
}

.editor {
  padding-inline: 16px;
  margin-block: 16px;
}
 
.preview-area {
  display: flex;
  justify-content: space-between;
  padding-block: 13px 14px;
  background-color: #F5F5F5;
  padding-inline: 15px;

  h5 {
  color: #7C8187;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 2px;
  text-align: left;
  }
}

.display {
  display: none;
}

.result-area {
  font-family: 'Roboto Slab';
  display: block;
}

.text-area {
  width: 100%;
  height: 100vh;
  resize: none;
  border: none;
  outline: none;
}

.menu-items {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  margin-top: 26px;
   
  h5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    color: #fff;
  }
  
  span {
    font-size: 13px;
    font-weight: 300;
    line-height: 15.23px;
    color: #7C8187;

  }
}

dialog {
  margin: auto;
  padding: 24px;
  width: 343px;
}

.dialog-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dialog-buttons button {
  padding-block: 12px;
  border: none;
  color: #FFFFFF;
}

dialog h4 {
  color: #35393F;
  font-size: 20px;
  font-weight: 700;
  line-height: 26.38px;
}

dialog p {
  color: #7C8187;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-block: 16px;
}

.dialog-buttons :first-child {
  background-color: #E46643;
}

.dialog-buttons :nth-child(2) {
  background-color: gray;
}


